body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EDF3FD;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h4 {
  text-align: center;
}

#wrap {
  float: left;
  position: relative;
  left: 50%;
}

#content {
  float: left;
  position: relative;
  left: -50%;
}

#center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#group-button {
  #group-button {
  background-color: #7BA0CF !important;
  border-color: #7BA0CF !important;
  font-family:'Segoe UI'!important;
  font-size:32px!important;
  font-weight:bold!important;
  text-align: left;
  padding-left: 45px;
}

}

Button {
  margin: 5%;
  /* background-color: #555B8F !important;
  border-color: #555B8F !important; */
}

.page-margin {
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

.card {
  margin-bottom: 3%;
  border-color: #7BA0CF;
  border-width: 5px;
}

.card-header {
  background-color: #7BA0CF;
  color: white;
  border-radius: 0px !important;
}

.card-body {
  margin: 0px;
  font-size: 20px !important;
  
}

.card-title {
  margin: 0px;
}

.card-text {
  margin: 0px;
}

.bread-img {
  padding-top: 1%;
  width: 30%;
}
